.chat-main
  .chat-main__group-info
    .chat-main__group-info__contents
      .chat-main__group-info__contents__group-name
        test
      .chat-main__group-info__contents__member
        Member : masa
    .chat-main__group-info__btn-box
      = link_to "#", class: "chat-main__group-info__btn-box__btn-edit" do
        Edit
  .chat-main__message-list
    .chat-main__message-list__contents
      .chat-main__message-list__contents__content
        .chat-main__message-list__contents__content__member-name
          masa
        .chat-main__message-list__contents__content__time-stamp
          2019/11/20(Wed)/17:43:01
      .chat-main__message-list__contents__message
        おはよう！
    .chat-main__message-list__contents
      .chat-main__message-list__contents__content
        .chat-main__message-list__contents__content__member-name
          masa
        .chat-main__message-list__contents__content__time-stamp
          2019/11/20(Wed)/17:43:01
      .chat-main__message-list__contents__message
        こんにちは！
  .chat-main__message-form