.side-bar
  .user-name
    .top-items
      .top-items__name
        masa
      .top-items__icon
        = icon('far', 'edit', class: 'edit')
        = icon('fa', 'cog', class: 'cog')

  .group-list
    .group-index
      .group-name
        aaaaaa
      .latest-message
        まだメッセージはありません。
      .group-name
        bbbbbb
      .latest-message
        まだメッセージはありません。    