.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info{
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    &__contents{
      margin-left: 40px;
      &__group-name{
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
      }
      &__member{
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
      }
    }
    &__btn-box{
      width: 112px;
      display: flex;
      align-items: center;
      &__btn-edit{
        text-decoration: none;
        font-size: 16px;
        color: #38aef0;
        border: 1px solid #38aef0;
        display: block;
        width: 72px;
        line-height: 40px;
        padding: 0 20px;
      }
    }
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding-left: 40px;
    padding-bottom: 46px;
    &__contents{

      &__content{
        padding: 35px 0 12px 0;
        display: flex;
        &__member-name{
          font-size: 16px;
          font-weight: bold;
          color: #333333;
        }
        &__time-stamp{
          font-size: 12px;
          color: #999999;
          margin-left: 5px;
        }
      }
    }
    &__message{
      font-size: 14px;
      color: #434a54;
    }
    
  }
  &__message-form{
    background-color: #d2d2d2;
    &__Form{
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__contents{
        height: 50px;
        width: 100%;
        margin-left: 40px;
        margin-right: 15px;
        display: flex;
        position: relative;
        background-color: #fff;
        &__message{
          position: absolute;
          padding-left: 10px;
          height: 100%;
          width: 100%;
          border: none;
        }
        &__imgbox{
          position: absolute;
          line-height: 50px;
          font-size: 25px;
          right: 10px;
          &__label{
            cursor: default;
            &__icon{

            }
            &__file-field{
              display: none;
            }
          }
        
        }
      }
      &__btn-send{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: 50px;
        background-color: #38aef0;
        border: none;
        padding: 0 30px;
        display: block;
        margin-right: 40px;
      }
    }
      
  }
}