.side-bar{
  width: 300px;
  height: 100vh;
  color: #ffffff;
  font-weight: bold;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__top-items{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name{
        width: 180px;
      }
      &__icon{
        width: 60px;
        text-align: right;
        a{
          text-decoration: none;
        }
        .edit{
          font-weight: bold;
          color:#fff;
        }
        .cog{
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    &__index{
      width: 260px;
      &__group-name{
        font-size: 15px;
        margin: 20px 0 5px 0;
      }
      &__latest-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}
